@use "../../styles/Versions.scss" as *;
.CommentWallForm {
  &__buttom {
    color: white;
    border: none;
    width: 220px;
    height: 45px;
    cursor: pointer;
    background-color: #0095ff;
    border-radius: 5px;
    font-size: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    margin-bottom: 16px;
    @include tablet {
      position: relative;
      right: 50px;
    }
    @include desktop {
      position: relative;
      right: 90px;
    }
  }
  &__buttom > img {
    float: left;
    height: 25px;
    margin: 10px;
  }
  &__buttom > button {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    background-color: #0095ff;
    border: none;
    color: white;
    margin-top: 14px;
  }
  &__buttom:hover {
    background-color: #0065ad;
  }
}
.field {
  display: flex;
  border: none;
  max-width: 288px;
  padding: 0;

  &__labelText {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    float: left;
    color: #afafaf;
    margin-top: 16px;
    @include tablet {
      position: relative;
      bottom: 50px;
      left: 135px;
    }
  }
  &__img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-top: 35px;
    margin-right: 16px;
    @include tablet {
      position: relative;
      bottom: 17px;
    }
  }
  &__sec {
    @include tablet {
      display: flex;
      align-items: center;
    }
    &--wall {
      display: block;
    }
  }
}
.input:active {
  border: solid 1px #0095ff;
}
.input {
  height: 100px;
  width: 200px;
  background-color: #fafafa;

  border-radius: 5px;
  margin-top: 5px;
  @include tablet {
    height: 35px;
    width: 400px;
    position: relative;
    right: 120px;
  }
}
.CommentWall {
  &__Form {
    align-items: center;
  }
}
