@use "../../styles/Versions.scss" as *;

.img {
  height: 100%;
  width: 100%;

  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 70%;
  }
}
.MainVideoBox {
  margin-bottom: 24px;
  margin-top: 16px;
  background-color: black;
}
